* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    height: 100 vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    height: 100%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    margin: 30px 10px;
}

.column {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    font-size: 0.8rem;
    padding: 20px 40px;
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', 'Times New Roman', Times, serif;
    line-height: 1.5;
}

.column:first-of-type {
    border-radius: 10px 10px 0 0;
}

.column:last-of-type {
    border-radius: 0 0 10px 10px;
}

.column img {
    width: 3rem;
}

.column h1 {
    font-family: 'Big Shoulders Display', 'Times New Roman', Times, serif;
    text-transform: uppercase;
    color: hsl(0, 0%, 95%);
    margin: 10px 0 0 0;
}

.one {
    background-color: hsl(31, 77%, 52%);
}

.two {
    background: hsl(184, 100%, 22%);
}

.three {
    background-color: hsl(179, 100%, 13%);
}

.button {
    background-color: hsl(0, 0%, 95%);
    border-radius: 16px;
    margin: 5px 0 10px 10px;
    padding: auto;
    width: 40%;
    height: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
}

.b-one {
    color:hsl(31, 77%, 52%);
}

.b-two {
    color: hsl(184, 100%, 22%);
}

.b-three {
    color: hsl(179, 100%, 13%);
}

.b-one:hover {
    background-color: hsl(31, 77%, 52%);
    border: 1px solid hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
}

.b-two:hover {
    background-color: hsl(184, 100%, 22%);
    border: 1px solid hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
}

.b-three:hover {
    background-color: hsl(179, 100%, 13%);
    border: 1px solid hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
}

@media screen and (min-width: 500px) {
    .main {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 90vh;
    }

    .column:first-of-type {
        border-radius: 10px 0 0 10px;
    }
    
    .column:last-of-type {
        border-radius: 0 10px 10px 0px;
    }

    .column {
        height: 80%;
        width: 30%;
        justify-content: space-evenly;
        padding-left: 60px;
    }

    .column img{
        width: 4rem;
    }

    .column h1 {
        font-size: 2.5rem;
    }

    .column p{
        width: 26ch;
        line-height: 2;
        font-size: 1rem;
        margin-top: -20px;
    }

    .button {
        height: 2.5rem;
        border-radius: 1.5rem;
        width: 45%;
    }
}